.img_pic{
    position: absolute;          /* 位置指定 */
    padding: 20px;               /* 余白指定 */
    top:  50px;                     /* 位置指定 */
    bottom:  0;                  /* 位置指定 */
    left:  0;                    /* 位置指定 */
    right:  0;                   /* 位置指定 */
    margin:  auto;               /* 中央寄せ */
    width:  60%;               /* 幅指定 */
    height: 55%;                /* 高さ指定 */
    background-color: none;
}



.img_l > h2{
    position: absolute;
    top: 20%;
    left: 15%;
}

.img_pic{
    position: relative;
    height: 430px;
    width: 700px;
 }
 .img_pic img {
    position: absolute;
    top: 0;
    left:0;
    z-index: 8;
    opacity: 0.0;
 }
 .img_pic img.active {
    z-index: 10;
    opacity: 1.0;
 }
.img_pic img.last-active {
    z-index: 9;
 }

 .img_pic > img{
    height: 430px;
    width: 700px;
 }