* {
    margin: 0px;
    padding: 0px;

}

a{
    color: white !important;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
  }

  a:hover{
    color: rgba(201, 201, 201, 0.8);
  }

p{
    font-size: 30px;
    color: rgb(186, 189, 127);
}

a,h1,h2,h3,h4,p{
    font-family:'Comfortaa',cursive,'M PLUS Rounded 1c', sans-serif;
}

.img{
    height: 100vh;
    background:rgba(255, 255, 255, 0.722);
}

.img_l{
    height: 100vh;
    background:rgba(255, 255, 255, 0.283);
}

.back{
    top: 0px;
    left: 0px;
    width: 100%;
    background: url('/static/images/back.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
}

body{
    height: 100vh;
    width: 100%
}

header{
    width: 100%;
    height: 70px;
    background-color: rgb(239, 239, 239);
    z-index: 5;
}

header > a{
    position:absolute;
    top: 7px;
    left: 20px;
    height: 60px;
    width: 260px;
}
 
a > img{
    height: 60px;
    width: 260px;
    
}

