

.center{
    /*background-color: #2196F3;    背景色指定 */
    position: absolute;          /* 位置指定 */
    padding: 20px;               /* 余白指定 */
    top:  0;                     /* 位置指定 */
    bottom:  0;                  /* 位置指定 */
    left:  0;                    /* 位置指定 */
    right:  0;                   /* 位置指定 */
    margin:  auto;               /* 中央寄せ */
    width:  60%;               /* 幅指定 */
    height: 55%;                /* 高さ指定 */
    
}

.signin{
    position: fixed;
    top: 70px;
    left: 0px;
    width: 100%;
    height: 100%;
    background:url("/static/images/login.png") 0% 0% no-repeat padding-box;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* /* background-color: blueviolet;  */
    opacity: 1;
    z-index: 0;
    overflow: hidden;
} 

.field1 > input{
    position: absolute;
    top: 0;
    bottom: 32%;
    left: 58%;
    margin: auto;
    width: 30%;
    height: 12%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 29px;
    opacity: 1;
    z-index: 10;

}


.field2 > input{
    position: absolute;
    top: 15%;
    bottom: 0;
    left: 58%;
    margin: auto;
    width: 30%;
    height: 12%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 29px;
    opacity: 1;
    z-index: 10;
}

.actions1{
    position: absolute;
    top: 65%;
    bottom: 0;
    left: 73%;
    margin: auto;
    width: 100px;
    height: 30px;
    text-align: left;
    
    letter-spacing: 0;
    color: #0A0000;
    opacity: 1;
}

.actions1 > input{
    width: 70px;
    height: 30px;
    font-size: 100%;
    z-index: 10;
}

.field1 > p.email{
    position: absolute;
    top: 30%;
    bottom: 0;
    left: 16%;
    margin: auto;

}

p.password{
    position: absolute;
    top: 53%;
    bottom: 0;
    left: 16%;
    margin: auto;

}

.field4 > input{
    position: absolute;
    top: 0;
    bottom: 18%;
    left: 62%;
    margin: auto;
    width: 150px;
    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 29px;
    opacity: 1;
    z-index: 10;

    }



.field5 > input{
    position: absolute;
    top: 24%;
    bottom: 0%;
    left: 62%;
    margin: auto;
    width: 150px;
    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 29px;
    opacity: 1;
    z-index: 10;

    }

.field6 > input{
    position: absolute;
    top: 70%;
    bottom: 0%;
    left: 62%;
    margin: auto;
    width: 150px;
    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 29px;
    opacity: 1;
    z-index: 10;

}

.field4 > p.email{
    position: absolute;
    top: 35%;
    bottom: 0;
    left: 12%;
    margin: auto;

    }

.field5 > p.password{
    position: absolute;
    top: 55%;
    bottom: 0;
    left: 12%;
    margin: auto;

}

.field6 > p.pass_con{
    position: absolute;
    top: 80%;
    bottom: 0;
    left: 12%;
    margin: auto;

}

.actions2{
    position: absolute;
    top: 90%;
    bottom: 0;
    left: 73%;
    margin: auto;
    width: 100px;
    height: 30px;
    text-align: left;
    font: Regular 38px/46px MS PMincho;
    letter-spacing: 0;
    color: #0A0000;
    opacity: 1;
    z-index: 10;
}
.actions2 > input{
    width: 70px;
    height: 30px;
    font-size: 100%;
    z-index: 10;
}

h1{
    color: rgb(120, 121, 59);
}