.backcolor{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(31, 255, 203);
}

.subm1 > input{
    position: absolute;
    
    
    top: 100px;
}

.subm2 > input{
    position: absolute;
    
    
    top: 150px;
}