<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
</head>
<body>
        <form action="/sign_up_do" method="POST">
        <div class="center">
        <h1>Sign up</h1>
          <div class="field4">
            <p class="name">name</p><input class="form-control" type="text" name='name'>
            <p class="email">email</p>
            <input class="form-control" type="text" name='email'>
          </div>
        
          <div class="field5">
            <p class="password">password</p>
            <input class="form-control" type="text" name='password'>
          </div>
          <div class="field6">
            <p class="pass_con">password_confirmation</p>
            <label for="passwordConfirm">パスワード（確認）:</label>
            <input type="password" name="passwordConfirm" id="passwordConfirm" required>
          </div>
          <div class="actions2">
                <p><input type = "submit" value = "submit" /></p>
          </div>
        </div>
        </form>
</body>
</html>