<html>
    {% extends "layout.html" %}
  <head>

    
  </head>
<body>
    {% block content %}
  <div class="signin">
      <div class="img_l">
    <p>{{message}}</p>
        <form action="/sign_in_do" method="POST">
        <div class=center>
        <h1 class="login">Log in</h1>
          <div class="field1">
            <!--<%= f.label :email%>-->
          <p class="email">email</p>
          <input type="text" name='email'>
          
        </div>
        
    <div class="field2">
            <!--<%= f.label:password %>-->
            <p class="password">password</p>
            <input type="password" name='password'>
        
          <div class="actions1">
                <input type = "submit" value = "submit" />
          </div>
        </div>
        </form>
      </div>
  </div>
  {% endblock %}
</body>
</html>