
{% extends "layout.html" %}

{% block content %}

<div class="signin">
        
    <div class="img_l">
            <h1 class="my">HOME</h1>
            <div class="img_pic">                
                    <img src="/static/images/図2.png" alt="" class="active" />
                    <img src="/static/images/図3.png" alt="" /> 
                    <img src="/static/images/図13.png" alt="" />    
                    <img src="/static/images/図14.png" alt="" />   
                    <img src="/static/images/図15.png" alt="" />   
                    <img src="/static/images/図16.png" alt="" />               
            </div>
            <script src="/static/js/ppt.js"></script>
    </div>
</div>
{% endblock %}
