<div class="back">
        <div class="img">
            <main>
{% extends "layout.html" %}

{% block content %}

<h1 class="my">Mypage</h1>
{%for sub_name in k%}
{%if sub_list[sub_name] == 1%}
<div class="subject">
    <a href="/subject/{{sub_name}}"></a>
    <div class="para">
        <p>{{sub_name}}</p>
        <form action="/mypage" method="POST">
        <button class="none" type="submit" name={{sub_name}} value="0">❤︎</button>
    </div>
</form>
</div>
{%endif%}
{% endfor %}
{% endblock %}

</main>
</div>
</div>